body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
    margin-left: 20px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-images {
    display: flex;
    width: 700%; /* 100% para cada imagem */
}

.carousel-images div {
    width: 100vw; /* Cada div ocupa 100% da largura da tela */
}

.carousel-images img {
    width: 100%; /* A imagem ocupa toda a largura da div */
    height: 400px;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}